#Index {
  font-family: 'Roboto', sans-serif;
  background: #1c2036;
}
.index-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.title-text {
  width: 50%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text-text {
  color: #507AE8;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 500;
}

.title-text-btn {
  text-align: center;
  text-decoration: none;
  color: #507AE8;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 5rem;
  width: 20rem;
  border: 4px solid #507AE8;
  transition: all 0.3s;
}
.title-text-btn:hover {
  color: #ffffff;
  background: #507AE8;
}

.title-text-logo {
  height: 9rem;
}

.title-image {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.title-image-image {
  width: 80%;
}

.motto {
  max-width: 100%;
  font-size: 3rem;
  margin: 0;
  height: 70vh;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #507AE8;
}

.join-now {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #507AE8;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 5rem;
  width: 300px  ;
  border: 4px solid #507AE8;
  transition: all 0.3s;
}

.join-now:hover {
  color: #507AE8;
  background: #1c2036;
}